.whiskeyBox picture img {
  transition: transform 0.3s ease;
}

.whiskeyBox:hover picture img {
  filter: drop-shadow(0px 1px 3px rgb(70, 66, 61, 0.5));
  transform: scale(1.03);
}

.titleBox {
  background-color: rgb(241, 230, 178, 0.3);
}

.imageBox {
  background-color: rgb(219, 206, 124, 0.4);
}

.imageBox::before {
  background-image: linear-gradient(180deg, #f1e6b2, #dbce7c);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.5s;
}

.whiskeyDetailSection:before {
  content: '';
  display: block;
  position: absolute;
  left: 23%;
  top: -50px;
  border-bottom: 50px solid #edebd7;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
